<div class="footer-navigation">
    <div class="footer-navigation-box">
        <h3>Navigatie</h3>
        <ul>
            <li><a href="{{$.Site.BaseURL}}">Home</a></li>
            <li><a href="#">Producten</a></li>
            <li><a href="#">Over ons</a></li>
            <li><a href="{{$.Site.BaseURL}}contact/">Contact</a></li>
            <li><a href="#">Careers</a></li>
        </ul>
    </div>
</div>
<div class="footer-logo">
    <img src="{{$.Site.BaseURL}}arcsecicon.png" alt="Arcsec logo">
</div>
<div class="copy">
    <p>Copyright {{ now.Year }}. All rights reserved.</p>
</div>
