<div class="title">
    <h1><a href="{{$.Site.BaseURL}}" style="color: white;">{{ site.Title }}</a></h1>
</div>
<div class="navigation">
    <div class="button">
        <div class="menu-icon">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
        </div>
        <div class="button-dropdown">
            <ul>
                <li><a href="{{$.Site.BaseURL}}">Home</a></li>
                <li><a href="#">Producten</a></li>
                <li><a href="#">Over ons</a></li>
                <li><a href="{{$.Site.BaseURL}}contact/">Contact</a></li>
                <li><a href="#">Careers</a></li>
                <li><a href="#">Blog</a></li>
            </ul>
        </div>
    </div>
    <div class="default-nav">
        <ul>
            <li><a href="{{$.Site.BaseURL}}">Home</a></li>
            <li><a href="#">Producten</a></li>
            <li><a href="#">Over ons</a></li>
            <li><a href="{{$.Site.BaseURL}}contact/">Contact</a></li>
            <li><a href="#">Careers</a></li>
            <li><a href="#">Blog</a></li>
        </ul>
    </div>
</div>
