* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  line-height: 1.5;
  font-family: Verdana, sans-serif;
}

header {
  padding: 10pt;
  height: 120pt;
  font-size: 15pt;
  background-image: url("space.jpg");
  box-shadow: 2pt 2pt 50pt rgb(202, 202, 202);
}

header .default-nav a {
  color: black;
}

header .title {
  float: left;
  width: 20%;
}

header .title img {
  height: 70pt;
}

header .navigation {
  float: left;
  width: 80%;
  text-align: right;
}

header .navigation .default-nav li {
  list-style: none;
  display: inline-block;
  margin: 10pt;
  padding-bottom: 10pt;
  position: relative;
}

header .navigation .button-dropdown {
  display: none;
  background-color: white;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  text-align: left;
  width: 100%;
  padding-bottom: 3000pt;
  padding-top: 100pt;
  opacity: 0.9;
}

header .navigation .button-dropdown li {
  padding-left: 20pt;
}

header .navigation .button-dropdown a {
  color: black;
}

header .navigation .menu-icon {
  margin: 10pt;
  z-index: 2;
  position: absolute;
  right: 20pt;
}

header .navigation .menu-icon:hover {
  cursor: pointer;
}

header .navigation .menu-icon > .line {
  background-color: #222;
  height: 2px;
  display: block;
  width: 20pt;
}

header .navigation .menu-icon > .line + .line {
  margin-top: 6px;
}

header .navigation .button-dropdown-default-menu-1, .button-dropdown-default-menu-2, .button-dropdown-default-menu-3, .button-dropdown-default-menu-4 {
  background-color: rgb(96, 110, 90);
  text-align: left;
  position: absolute;
  left: 0pt;
  top: 30pt;
  display: none;
  border-radius: 10pt;
}

header .navigation .button-dropdown-default-menu-1 ul, header .navigation .button-dropdown-default-menu-2 ul, header .navigation .button-dropdown-default-menu-3 ul, header .navigation .button-dropdown-default-menu-4 ul {
  padding: 10pt;
}

header .navigation .button-dropdown-default-menu-1 li, header .navigation .button-dropdown-default-menu-2 li, header .navigation .button-dropdown-default-menu-3 li, header .navigation .button-dropdown-default-menu-4 li {
  margin: 0pt;
  display: list-item;
}

header .navigation .button-dropdown-default-menu-1 a, header .navigation .button-dropdown-default-menu-2 a, header .navigation .button-dropdown-default-menu-3 a, header .navigation .button-dropdown-default-menu-4 a {
  color: white;
}

header .button-dropdown-mobile-menu ul {
  list-style-type: none;
}

header .button-dropdown-mobile-menu {
  display: none;
}

main {
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  flex-wrap: wrap;
}

main .posts {
  padding: 10pt;
  height: 350pt;
  width: calc(33.33% - 20px);
  margin: 10px;
  box-sizing: border-box;
}

main .posts h2 {
  padding: 20pt;
  background-color: rgb(96, 110, 90);
  border-bottom-left-radius: 10pt;
  border-bottom-right-radius: 10pt;
  height: 100pt;
}

article {
  height: 1000pt;
}

article li {
  margin-left: 30pt;
}

article .post-actual-content h1 {
  margin-bottom: 10pt;
  margin-top: 10pt;
  font-size: 25pt;
}
article .post-actual-content h2 {
  margin-bottom: 10pt;
  margin-top: 10pt;
}
article .post-actual-content h3 {
  margin-bottom: 10pt;
  margin-top: 10pt;
}

article .post-content {
  float: left;
  width: 50%;
  color: white;
  background-color: rgb(96, 110, 90);
  height: 100%;
}

article .post-content .post-actual-content {
  padding: 50pt;
}

article .post-image {
  float: left;
  width: 50%;
  height: 100%;
}

article .post-image div {
  height: 100%;
}

article .post-content .post-actual-content li {
  list-style-type: unset;
}

article img {
  margin-top: 50pt;
  height: 110pt;
}

main .posts a {
  color: white;
}

main a {
  color: black;
}

footer a {
  color: white;
}

footer {
  text-align: center;
  background-color: #222;
  color: white;
  padding-top: 30pt;
  padding-bottom: 20pt;
  float: left;
  width: 100%;
  display: none;
}

footer .copy {
  float: left;
  width: 100%;
  padding-top: 20pt;
  padding-bottom: 20pt;
}

footer .footer-navigation {
  float: left;
  width: 50%;
}

footer .footer-navigation-box {
  text-align: left;
  margin-left: 20%;
}

footer .footer-logo {
  float: right;
  width: 30%;
  margin-right: 20pt;
}

footer .footer-logo img {
  height: 100pt;
  text-align: right;
}

a:hover {
  text-decoration: underline;
  text-decoration-thickness: 2pt;
  text-underline-offset: 3pt;
}

a {
  color: white;
  text-decoration: none;
}


@media screen and (max-width: 1100px) {
  header .navigation {
    width: 100%;
    text-align: center;
  }
  header .title {
    width: 100%;
    text-align: center;
  }
  main .attention-image {
    display: none;
  }
  main .attention-title {
    width: 100%;
    margin-top: 0pt;
    font-size: 25pt;
  }
  main .attention-title h1, main .attention-title p {
    margin: 0;
    margin-left: 10pt;
    margin-right: 10pt;
  }
  main .attention-title h1 {
    margin-bottom: 30pt;
    margin-top: 70pt;
  }
  main {
    margin-top: 0;
    margin-bottom: 100pt;
  }
}

@media screen and (max-width: 800px) {
  header .navigation .default-nav ul {
    display: none;
  }

  article .post-content {
    width: 100%;
  }

  article .post-content .post-actual-content {
    padding: 30pt;
  }

  article .post-image {
    width: 100%;
    height: 300pt;
  }
}

@media screen and (min-width: 800px) {
  header .navigation .menu-icon {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  footer .footer-logo img {
    height: 20vw;
  }
}

@media screen and (min-height: 1300px) {
  footer {
    display: unset;
  }
}

@media screen and (max-width: 1130px) {
  main .posts {
    width: 100%;
  }
}