* {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  color: #222;
  font-family: sans-serif;
  line-height: 1.5;
}

header {
  background-color: #222;
  color: white;
  padding: 10pt;
  height: 40pt;
}

header .title {
  float: left;
  width: 20%;
}

header .navigation {
  float: left;
  width: 80%;
  text-align: right;
}

header .navigation .default-nav li {
  list-style: none;
  display: inline-block;
  margin: 10pt;
}

header .navigation .button-dropdown {
  background-color: #333333;
  position: absolute;
  z-index: 1;
  right: 0;
  width: 100pt;
  text-align: left;
  padding: 10pt;
  border-radius: 10pt;
  margin: 10pt;
  margin-top: 20pt;
  display: none;
}

@media screen and (max-width: 700px) {
  header .navigation .default-nav ul {
    display: none;
  }
}

@media screen and (min-width: 700px) {
  header .navigation .menu-icon {
    display: none;
  }
}

header .navigation .button:hover {
  position: relative;
}

header .navigation .button:hover .button-dropdown {
  display: block;
}

header .navigation .menu-icon {
  float: right;
  margin: 10pt;
}

header .navigation .menu-icon:hover {
  cursor: pointer;
}

header .navigation .menu-icon > .line {
  background-color: #ffffff;
  height: 2px;
  display: block;
  width: 20pt;
}

header .navigation .menu-icon > .line + .line {
  margin-top: 6px;
}

main {
  height: 800pt;
}

main a {
  color: blue;
}

main a:hover {
  color: rgb(122, 153, 255);
}

footer {
  text-align: center;
  background-color: #222;
  color: white;
  padding-top: 30pt;
  padding-bottom: 20pt;
  float: left;
  width: 100%;
}

footer .copy {
  float: left;
  width: 100%;
  padding-top: 20pt;
  padding-bottom: 20pt;
}

footer .footer-navigation {
  float: left;
  width: 50%;
}

footer .footer-navigation-box {
  text-align: left;
  margin-left: 20%;
}

footer .footer-logo {
  float: left;
  width: 50%;
}

footer .footer-logo img {
  height: 100pt;
}

@media screen and (max-width: 700px) {
  footer .footer-logo img {
    height: 20vw;
  }
}

a:hover {
  color: rgb(122, 153, 255);
  text-decoration: underline;
}

a {
  color: white;
  text-decoration: none;
}
