<div class="footer-navigation">
    <div class="footer-navigation-box">
        <h3>Navigatie</h3>
        {{ with site.Menus.header }}
        <ul>
            {{ range . }}
            <li><a href="{{ .URL }}">{{ .Name }}</a></li>
            {{ end }}
        </ul>
        {{ end }}
    </div>
</div>
<div class="footer-logo">
    <a href="{{ $.Site.BaseURL }}"><img src="{{$.Site.BaseURL}}/images/kokenmetlisa.png" alt="Arcsec logo"></a>
</div>
<div class="copy">
    <p>Copyright {{ now.Year }}. All rights reserved.</p>
</div>

<script src="{{$.Site.BaseURL}}/js/main.js">

</script>