<div class="title">
    <a href="{{$.Site.BaseURL}}"><img src="{{$.Site.BaseURL}}images/kokenmetlisa.png"></a>
</div>
<div class="navigation">
    <div class="button">
        <div class="menu-icon" id="button" onclick="onClick()">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
        </div>
        {{ with site.Menus.header }}
        <div class="button-dropdown" id="menu">
            <ul>
                {{ range . }}
                <li><a href="{{ .URL }}">{{ .Name }}</a></li>
                {{ end }}
            </ul>
        </div>
        {{ end }}
    </div>
    {{ with site.Menus.header }}
    <div class="default-nav">
        <ul>
            {{ range . }}
            <li><a href="{{ .URL }}">{{ .Name }}</a></li>
            {{ end }}
        </ul>
    </div>
    {{ end }}
</div>


<script>
    const button = document.getElementById("button");
    const menu = document.getElementById("menu")
    function onClick() {
        
        if (menu.style.display == "none") {
            menu.style.display = "unset"
        } else {
            menu.style.display = "none"
        }
    }

</script>
