<div class="title">
    <a href="{{$.Site.BaseURL}}"><img src="{{$.Site.BaseURL}}images/kokenmetlisa.png"></a>
</div>
<div class="navigation">
    <div class="button">
        <div class="menu-icon" id="button" onclick="onClick()">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
        </div>
        {{ with site.Menus.header }}
        <div class="button-dropdown" id="menu">
            <ul>
                <li><a href="{{ $.Site.BaseURL }}">Home</a></li>
                <li id="lunch-div-mobile">
                    <a href="{{ $.Site.BaseURL }}lunch" id="lunch-mobile" onpointerover="onHoverLunchMobile()">Lunch</a>
                    {{ with site.Menus.lunch }}
                    <div class="button-dropdown-mobile-menu" id="menu-mobile-1">
                        <ul>
                            {{ range . }}
                            <li><a href="{{ .URL }}">{{ .Name }}</a></li>
                            {{ end }}
                        </ul>
                    </div>
                    {{ end }}
                </li>
                <li id="hoofdgerechten-div-mobile">
                    <a href="{{ $.Site.BaseURL }}hoofdgerechten" id="hoofdgerechten-mobile" onpointerover="onHoverHoofdgerechtenMobile()">Hoofdgerechten</a>
                    {{ with site.Menus.hoofdgerechten }}
                    <div class="button-dropdown-mobile-menu" id="menu-mobile-2">
                        <ul>
                            {{ range . }}
                            <li><a href="{{ .URL }}">{{ .Name }}</a></li>
                            {{ end }}
                        </ul>
                    </div>
                    {{ end }}
                </li>
                <li id="nagerechten-div-mobile">
                    <a href="{{ $.Site.BaseURL }}nagerechten" id="nagerechten-mobile" onpointerover="onHoverNagerechtenMobile()">Nagerechten</a>
                    {{ with site.Menus.nagerechten }}
                    <div class="button-dropdown-mobile-menu" id="menu-mobile-3">
                        <ul>
                            {{ range . }}
                            <li><a href="{{ .URL }}">{{ .Name }}</a></li>
                            {{ end }}
                        </ul>
                    </div>
                    {{ end }}
                </li>
                <li id="bijgerechten-div-mobile">
                    <a href="{{ $.Site.BaseURL }}bijgerechten" id="bijgerechten-mobile" onpointerover="onHoverBijgerechtenMobile()">Bijgerechten</a>
                    {{ with site.Menus.bijgerechten }}
                    <div class="button-dropdown-mobile-menu" id="menu-mobile-4">
                        <ul>
                            {{ range . }}
                            <li><a href="{{ .URL }}">{{ .Name }}</a></li>
                            {{ end }}
                        </ul>
                    </div>
                    {{ end }}
                </li>
            </ul>
        </div>
        {{ end }}
    </div>
    <div class="default-nav">
        <ul>
            <li><a href="{{ $.Site.BaseURL }}">Home</a></li>
            <li id="lunch-div">
                <a href="{{ $.Site.BaseURL }}lunch" id="lunch" onpointerover="onHoverLunch()">Lunch</a>
                {{ with site.Menus.lunch }}
                <div class="button-dropdown-default-menu-1" id="menu-1">
                    <ul>
                        {{ range . }}
                        <li><a href="{{ .URL }}">{{ .Name }}</a></li>
                        {{ end }}
                    </ul>
                </div>
                {{ end }}
            </li>
            <li id="hoofdgerechten-div">
                <a href="{{ $.Site.BaseURL }}hoofdgerechten" id="hoofdgerechten" onpointerover="onHoverHoofdgerechten()">Hoofdgerechten</a>
                {{ with site.Menus.hoofdgerechten }}
                <div class="button-dropdown-default-menu-2" id="menu-2">
                    <ul>
                        {{ range . }}
                        <li><a href="{{ .URL }}">{{ .Name }}</a></li>
                        {{ end }}
                    </ul>
                </div>
                {{ end }}
            </li>
            <li id="nagerechten-div">
                <a href="{{ $.Site.BaseURL }}nagerechten" id="nagerechten" onpointerover="onHoverNagerechten()">Nagerechten</a>
                {{ with site.Menus.nagerechten }}
                <div class="button-dropdown-default-menu-3" id="menu-3">
                    <ul>
                        {{ range . }}
                        <li><a href="{{ .URL }}">{{ .Name }}</a></li>
                        {{ end }}
                    </ul>
                </div>
                {{ end }}
            </li>
            <li id="bijgerechten-div">
                <a href="{{ $.Site.BaseURL }}bijgerechten" id="bijgerechten" onpointerover="onHoverBijgerechten()">Bijgerechten</a>
                {{ with site.Menus.bijgerechten }}
                <div class="button-dropdown-default-menu-4" id="menu-4">
                    <ul>
                        {{ range . }}
                        <li><a href="{{ .URL }}">{{ .Name }}</a></li>
                        {{ end }}
                    </ul>
                </div>
                {{ end }}
            </li>
        </ul>
    </div>
</div>


<script>
    function onClick() {
        const menu = document.getElementById("menu")


        
        if (menu.style.display == "none") {
            menu.style.display = "unset"
        } else {
            menu.style.display = "none"
        }
    }



    function onHoverLunch() {
        const button = document.getElementById("lunch")
        const div = document.getElementById("lunch-div")
        const menu = document.getElementById("menu-1")

        menu.style.display = "unset"

        div.onmouseleave = function() {
            if (menu.style.display == "unset") {
                menu.style.display = "none"
            }
        }
    }

    function onHoverHoofdgerechten() {
        const button = document.getElementById("hoofdgerechten")
        const div = document.getElementById("hoofdgerechten-div")
        const menu = document.getElementById("menu-2")

        menu.style.display = "unset"

        div.onmouseleave = function() {
            if (menu.style.display == "unset") {
                menu.style.display = "none"
            }
        }
    }   

    function onHoverNagerechten() {
        const button = document.getElementById("nagerechten")
        const div = document.getElementById("nagerechten-div")
        const menu = document.getElementById("menu-3")

        menu.style.display = "unset"

        div.onmouseleave = function() {
            if (menu.style.display == "unset") {
                menu.style.display = "none"
            }
        }
    }   

    function onHoverBijgerechten() {
        const button = document.getElementById("bijgerechten")
        const div = document.getElementById("bijgerechten-div")
        const menu = document.getElementById("menu-4")

        menu.style.display = "unset"

        div.onmouseleave = function() {
            if (menu.style.display == "unset") {
                menu.style.display = "none"
            }
        }
    }   

    function onHoverLunchMobile() {
        const button = document.getElementById("lunch-mobile")
        const div = document.getElementById("lunch-div-mobile")
        const menu = document.getElementById("menu-mobile-1")

        menu.style.display = "unset"

        div.onmouseleave = function() {
            if (menu.style.display == "unset") {
                menu.style.display = "none"
            }
        }
    }

    function onHoverHoofdgerechtenMobile() {
        const button = document.getElementById("hoofdgerechten-mobile")
        const div = document.getElementById("hoofdgerechten-div-mobile")
        const menu = document.getElementById("menu-mobile-2")

        menu.style.display = "unset"

        div.onmouseleave = function() {
            if (menu.style.display == "unset") {
                menu.style.display = "none"
            }
        }
    }   

    function onHoverNagerechtenMobile() {
        const button = document.getElementById("nagerechten-mobile")
        const div = document.getElementById("nagerechten-div-mobile")
        const menu = document.getElementById("menu-mobile-3")

        menu.style.display = "unset"

        div.onmouseleave = function() {
            if (menu.style.display == "unset") {
                menu.style.display = "none"
            }
        }
    }   

    function onHoverBijgerechtenMobile() {
        const button = document.getElementById("bijgerechten-mobile")
        const div = document.getElementById("bijgerechten-div-mobile")
        const menu = document.getElementById("menu-mobile-4")

        menu.style.display = "unset"

        div.onmouseleave = function() {
            if (menu.style.display == "unset") {
                menu.style.display = "none"
            }
        }
    }   


</script>
