* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form input, textarea {
    width: 90%;
    max-width: 300px;
    min-width: 300px;
    border-radius: 10px;
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(170, 170, 170);
    box-shadow: 5px 5px 5px rgb(200, 200, 200);
    margin: 5px;
}

form input:focus, textarea:focus {
    border-color: rgb(162, 0, 255);
    outline: none;
}

.submit-button:hover {
    cursor: pointer;
    background-color: rgb(255, 126, 103);
    color: white;
}

.delete-button {
    float: right;
    background-color: red;
    border-style: none;
    border-radius: 10px;
    padding: 5px;
    color: white;
}

.delete-button:hover {
    cursor: pointer;
    background-color: rgb(255, 126, 103);
}

.edit-button {
    float: right;;
}

.dishes-add {
    width: 100%;
    padding: 50px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgb(255, 126, 103);
    color: white;
}

.dishes-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dishes-list .dish {
    padding: 20px;
    margin: 10px;
    background-color: rgb(104, 127, 255);
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgb(200, 200, 200);
    width: 70%;
    max-width: 500px;
    color: white;
}

.dishes-list .dish p {
    margin-bottom: 10px;
}

.dish img {
    margin-top: 10px;
    max-width: 100%;
    max-height: 200px;
}