services:
  postgres:
    image: postgres:18
    container_name: postgres
    restart: always
    shm_size: 128mb
    environment:
      POSTGRES_USER: dishes_user
      POSTGRES_PASSWORD: dishes_password
      POSTGRES_DB: dishes
    ports:
      - 5432:5432
    volumes:
      - postgresql:/var/lib/postgresql
volumes:
  postgresql:
